@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
  --color-fd-primary: #da3477;
  --color-fd-primary-foreground: #ffffff;
  --color-fd-ring: #da3477;
}

.dark {
  --color-fd-primary: #da3477;
  --color-fd-primary-foreground: #ffffff;
  --color-fd-ring: #e85a94;
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}
